@charset "UTF-8";
/***** #Montserrat fonts *****/
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/montserrat/Montserrat-Light.eot');
  src: local('Montserrat Light'), local('Montserrat-Light'),
  url('../fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Light.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-Light.svg#Montserrat') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/montserrat/Montserrat-SemiBold.eot');
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url('../fonts/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-SemiBold.svg#Montserrat') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/montserrat/Montserrat-Bold.eot');
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-Bold.svg#Montserrat') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/montserrat/Montserrat-Regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-Regular.svg#Montserrat') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/montserrat/Montserrat-Medium.eot');
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url('../fonts/montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Medium.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-Medium.svg#Montserrat') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/montserrat/Montserrat-ExtraBold.eot');
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
  url('../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-ExtraBold.svg#Montserrat') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/montserrat/Montserrat-Black.eot');
  src: local('Montserrat Black'), local('Montserrat-Black'),
  url('../fonts/montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Black.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Black.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-Black.svg#Montserrat') format('svg');
  font-weight: 900;
  font-style: normal;
}