compiled/*/*.php
xml/compiled/*.php
vendor/
backend/design/compiled/*.php
files/resized/*/*.jpg
files/resized/*/*.jpeg
files/resized/*/*.png
files/resized/*/*.gif
files/resized/*/*.tif
files/resized/*/*.bmp
files/resized/*/*.ico
cache/

.idea/
tmp/
nbproject/
/log/
config/config.local.php